<% provide(:title, "About") %>
<div class="center jumbotron">
  <h1>About Ally's XWP Review</h1>
  <p>Hi! Welcome to my comprehensive (and in-progress) review of the best TV show of all time, Xena: Warrior Princess. This page contains a bit about the inspiration for this website, as well as what you can find on it and how to navigate it. </p>
  <p>
    Want a random Xena quote? <%= link_to 'Click here!', quote_path, class: "link-color" %>
  </p style="text-align:center">
   <%= link_to image_tag("xwp-logo.png", alt: "Ally's XWP Review Logo", class: "medium")%>
</div>

<h3>This website</h3>
<p>
  On this website, you can find (or will, eventually) every episode and my thoughts on it, all of the characters I have deemed worthy of sharing my thoughts about, and a random Xena quote generator, a place where anyone (including you!) can post thoughts about episodes, and a contact page. These pages are works in progress, and I hope to add more pages at some point as well.
</p>
<p>
  Current pages:
    <ul>
      <li><b>Episodes:</b> The place where my reviews of each episode live</li>
      <li><b>Characters:</b> A collection of my thoughts on each character from the show... that I care to comment on (currently not complete!! I do plan to discuss Xena! Also, the 'in order of importance' declaration is meant as a joke...)</li>
      <li><b>Random Quote:</b> A random quote generator of quotes hand-picked by me from Xena herself. These are all quotes that require only the one line for context, and are only by Xena. So unfortunately, no great lines from Gabrielle or anyone else.</li>
      <li><b>Response Posts:</b> A place for you to post thoughts on any episode, plot point, character, or theme... or respond to my thoughts from a different area of this site</li>
      <li><b>Contact:</b> Self-explanatory :)</li>
    </ul>
</p>

<p>
  Ideas for the Future:
    <ul>
      <li>Xena blog</li>
      <li>Gallery</li>
      <li>Stories</li>
    </ul>
</p>

<h3>Inspiration</h3>
<p>
  Aren't we all inspired by Xena? My journey with the great Warrior Princess began when I was in high school, floundering in a world of TV. I mindlessly consumed the first eight or more episodes without much interest... and then, around the time of <q>The Black Wolf</q>, things had begun to change. By <q>Warrior... Princess</q>, I was fully invested. And after six seasons, I had come to discover a show like no other: so deep and rich, yet eternally playful. A show that stays true to itself at every turn. A show that explores love, life, and morality with a powerful mix of graceful subtelty and campy absurdity. This show has a living soul, and one that matches mine to an astonishing degree. Which is why I'm writing this.
</p>
