<% provide(:title, "Contact") %>
<h1>Contact Information</h1>
<h3> Good to see you! Since you've made your way to this page, perhaps you have a question for the developer of this website? If so, feel free to email allysxwpreview@protonmail.com and perhaps I'll have a response for you.</h3>
