<% provide(:title, "Episodes") %>

<!-- Side navigation -->
<div class="sidenav">
  <a href="#s1">Season 1</a>
  <a href="#s2">Season 2</a>
  <a href="#s3">Season 3</a>
  <a href="#s4">Season 4</a>
  <a href="#s5">Season 5</a>
  <a href="#s6">Season 6</a>
</div>

<!-- Page content -->
<div class="main">
  <h1>XWP Reviews and Information (by Episode)</h1>
  <h3 id="s1">Season 1</h3>
  <p>1. Sins of the Past<br/>
    2. Chariots of War</p>
  <h3 id="s2">Season 2</h3>
  <p>1. Sins of the Past<br/>
    2. Chariots of War</p>
  <h3 id="s3">Season 3</h3>
  <p>1. Sins of the Past<br/>
    2. Chariots of War</p>
  <h3 id="s4">Season 4</h3>
  <p>1. Sins of the Past<br/>
    2. Chariots of War</p>
  <h3 id="s5">Season 5</h3>
  <p>1. Sins of the Past<br/>
    2. Chariots of War</p>
  <h3 id="s6">Season 6</h3>
  <p>1. Sins of the Past<br/>
    2. Chariots of War</p>
</div>
