<% provide(:title, "Episodes") %>

<!-- Side navigation -->
<div class="sidenav">
  <a href="#s1" class="season">Season 1</a>
  <a href="#s1e1" class="ep">E1: Sins of the Past</a>
  <a href="#s1e2" class="ep">E2: Chariots of War</a>
  <a href="#s2" class="season">Season 2</a>
  <a href="#s2e1" class="ep">E1: Orphan of War</a>
  <a href="#s2e2" class="ep">E2: Remember Nothing</a>
  <a href="#s3" class="season">Season 3</a>
  <a href="#s3e1" class="ep">E1: The Furies</a>
  <a href="#s3e2" class="ep">E2: Been There, Done That</a>
  <a href="#s4" class="season">Season 4</a>
  <a href="#s4e1" class="ep">E1: Adventures in Sin Trade: Part 1</a>
  <a href="#s4e2" class="ep">E2: Adventures in Sin Trade: Part 2</a>
  <a href="#s5" class="season">Season 5</a>
  <a href="#s5e1" class="ep">E1: Fallen Angel</a>
  <a href="#s5e2" class="ep">E2: Chakram</a>
  <a href="#s6" class="season">Season 6</a>
  <a href="#s6e1" class="ep">E1: Coming Home</a>
  <a href="#s6e2" class="ep">E2: The Haunting of Amphipolis</a>
</div>

<!-- Page content -->
<div class="main">
  <h1>XWP Reviews and Information (by Episode)</h1>
  <h3 id="s1">Season 1</h3>
  <h6 id="s1e1">1. Sins of the Past</h6>
  <p> Ah, the first episode. The show starts out, if you can remember back this far, with Xena on a repentance mission to lay down her weapons and start over. This is a theme that is embedded into the core of the show. It is explored again most explicitly in <a href="#s2e2">Remember Nothing</a> and somewhat in <a href="#">Chakram</a>, episodes that span nearly the entire show. It is impressive, I think, that the very first visaul the show evokes is one so integral to the core issues the show grapples with thoughout its existence and evolution. This is also the storyline that is most readily associated with the other main character, Gabrielle, as she grapples with first blood innocence (see <a href="#">"Dreamworker"</a>, <a href="#">"The Deliverer"</a>) and then with the deep moral greyness of fighting for good versus reverence for all life (see all of <a href="#">season 4</a>). However, lesser-seen is the battle Xena fights with this. While it is usually cast in the light of attonment and duty (see the whole show, but in particular <a href="#">"Intimate Stranger"</a>, <a href="#">"A Good Day"</a>, <a href="#">"Forgiven"</a>, and <a href="#">"The Way"</a>), Xena started her post-Warlord journey with abandoning the sword, and this is a notable theme throughout the show as well.</p>
  <h6 id="s1e2">2. Chariots of War</h6>
  <p></p>

  <h3 id="s2">Season 2</h3>
  <h6 id="s2e1">1. Orphan of War</h6>
  <p></p>
  <h6 id="s2e2">2. Remember Nothing</h6>
  <p>This is one of those Xena episodes that throws you for a loop into a place that is both relatively independent of the season arc, and yet somehow also extremely integral to the canon of the show. This episode is foundational to illustrating Xena's history as a person, and the first episode that really takes on the question "What would the world look like if Xena hadn't done what she did?" As I have discussed many times in the past, one core throughline of this show is grappling with the difficult territory of the morality of battle and taking lives. This episode's salient messages are full of complexity and apparent contradiction: the plot is driven by Xena's remorse at killing a boy in the heat of battle, yet the main takeaway is that Xena's existence has saved the world from a terrible fate, and furthermore, she chooses to leave that alternate world because of Gabrielle losing her blood innocence. In typical Xena fashion, the show does not shy away from this ambiguity. The show paints a picture of a world in which the only choice seems to be to fight, but in which killing is a terrible price for both the warrior's psyche and the inherent deep immorality of ending life. No resoultion is found.</p>

  <h3 id="s3">Season 3</h3>
  <h6 id="s3e1">1. The Furies</h6>
  <p></p>
  <h6 id="s3e2">2. Been There, Done That</h6>
  <p></p>

  <h3 id="s4">Season 4</h3>
  <h6 id="s4e1">1. Adventures in Sin Trade: Part 1</h6>
  <p></p>
  <h6 id="s4e2">2. Adventures in Sin Trade: Part 2</h6>
  <p></p>

  <h3 id="s5">Season 5</h3>
  <h6 id="se1">1. Fallen Angel</h6>
  <p></p>
  <h6 id="s5e2">2. Chakram</h6>
  <p></p>

  <h3 id="s6">Season 6</h3>
  <h6 id="s6e1">1. Coming Home</h6>
  <p></p>
  <h6 id="s6e2">2. The Haunting of Amphipolis</h6>
  <p></p>
</div>
