<% provide(:title, "Episodes") %>

<!-- Side navigation -->
<div class="sidenav">
  <a href="#s1">Season 1</a>
  <c href="#s1e1">E1: Sins of the Past</c>
  <c href="#s1e2">E2: Chariots of War</c>
  <a href="#s2">Season 2</a>
  <c href="#s2e1">E1: Orphan of War</c>
  <c href="#s2e2">E2: Remember Nothing</c>
  <a href="#s3">Season 3</a>
  <c href="#s3e1">E1: The Furies</c>
  <c href="#s3e2">E2: Been There, Done That</c>
  <a href="#s4">Season 4</a>
  <c href="#s4e1">E1: Adventures in Sin Trade: Part 1</c>
  <c href="#s4e2">E2: Adventures in Sin Trade: Part 2</c>
  <a href="#s5">Season 5</a>
  <c href="#s5e1">E1: Fallen Angel</c>
  <c href="#s5e2">E2: Chakram</c>
  <a href="#s6">Season 6</a>
  <c href="#s6e1">E1: Coming Home</c>
  <c href="#s6e2">E2: The Haunting of Amphipolis</c>
</div>

<!-- Page content -->
<div class="main">
  <h1>XWP Reviews and Information (by Episode)</h1>
  <h3 id="s1">Season 1</h3>
  <h6 id="s1e1">1. Sins of the Past</h6>
  <p></p>
  <h6 id="s1e2">2. Chariots of War</h6>
  <p></p>

  <h3 id="s2">Season 2</h3>
  <h6 id="s2e1">1. Orphan of War</h6>
  <p></p>
  <h6 id="s2e2">2. Remember Nothing</h6>
  <p></p>

  <h3 id="s3">Season 3</h3>
  <h6 id="s3e1">1. The Furies</h6>
  <p></p>
  <h6 id="s3e2">2. Been There, Done That</h6>
  <p></p>

  <h3 id="s4">Season 4</h3>
  <h6 id="s4e1">1. Adventures in Sin Trade: Part 1</h6>
  <p></p>
  <h6 id="s4e2">2. Adventures in Sin Trade: Part 2</h6>
  <p></p>

  <h3 id="s5">Season 5</h3>
  <h6 id="se1">1. Fallen Angel</h6>
  <p></p>
  <h6 id="s5e2">2. Chakram</h6>
  <p></p>

  <h3 id="s6">Season 6</h3>
  <h6 id="s6e1">1. Coming Home</h6>
  <p></p>
  <h6 id="s6e2">2. The Haunting of Amphipolis</h6>
  <p></p>
</div>
