<% provide(:title, "Episodes") %>

<!-- Side navigation -->
<div class="sidenav">
  <a href="#s1" class="season">Season 1</a>
  <a href="#s1e1" class="ep">E1: Sins of the Past</a>
  <a href="#s1e2" class="ep">E2: Chariots of War</a>
  <a href="#s2" class="season">Season 2</a>
  <a href="#s2e1" class="ep">E1: Orphan of War</a>
  <a href="#s2e2" class="ep">E2: Remember Nothing</a>
  <a href="#s3" class="season">Season 3</a>
  <a href="#s3e1" class="ep">E1: The Furies</a>
  <a href="#s3e2" class="ep">E2: Been There, Done That</a>
  <a href="#s4" class="season">Season 4</a>
  <a href="#s4e1" class="ep">E1: Adventures in Sin Trade: Part 1</a>
  <a href="#s4e2" class="ep">E2: Adventures in Sin Trade: Part 2</a>
  <a href="#s5" class="season">Season 5</a>
  <a href="#s5e1" class="ep">E1: Fallen Angel</a>
  <a href="#s5e2" class="ep">E2: Chakram</a>
  <a href="#s6" class="season">Season 6</a>
  <a href="#s6e1" class="ep">E1: Coming Home</a>
  <a href="#s6e2" class="ep">E2: The Haunting of Amphipolis</a>
</div>

<!-- Page content -->
<div class="main">
  <h1>XWP Reviews and Information (by Episode)</h1>
  <h3 id="s1">Season 1</h3>
  <h6 id="s1e1">1. Sins of the Past</h6>
  <p></p>
  <h6 id="s1e2">2. Chariots of War</h6>
  <p></p>

  <h3 id="s2">Season 2</h3>
  <h6 id="s2e1">1. Orphan of War</h6>
  <p></p>
  <h6 id="s2e2">2. Remember Nothing</h6>
  <p></p>

  <h3 id="s3">Season 3</h3>
  <h6 id="s3e1">1. The Furies</h6>
  <p></p>
  <h6 id="s3e2">2. Been There, Done That</h6>
  <p></p>

  <h3 id="s4">Season 4</h3>
  <h6 id="s4e1">1. Adventures in Sin Trade: Part 1</h6>
  <p></p>
  <h6 id="s4e2">2. Adventures in Sin Trade: Part 2</h6>
  <p></p>

  <h3 id="s5">Season 5</h3>
  <h6 id="se1">1. Fallen Angel</h6>
  <p></p>
  <h6 id="s5e2">2. Chakram</h6>
  <p></p>

  <h3 id="s6">Season 6</h3>
  <h6 id="s6e1">1. Coming Home</h6>
  <p></p>
  <h6 id="s6e2">2. The Haunting of Amphipolis</h6>
  <p></p>
</div>
