<% provide(:title, "Random Quote") %>
<h1>Random XWP Quote:</h1>
<h3><%= @result %></h3>
<p><i><%= link_to 'New quote', quote_path, class: "link-color" %></i></p>
<p><%= link_to 'Back to Homepage', root_path, class: "link-color" %></p>
