@import "bootstrap-sprockets";
@import "bootstrap";

$light-tan: #EFE8D9;
$page-back-col: #7F7E67;
$page-accent-col: #646451;
$link-col: #f0c39c;

/*---------------*---------------------
 |    Jubtron    |
 *---------------*/
.jumbotron {
  background-color: $page-accent-col;
}


/*---------------*---------------------
 |    Sidebar    |
 *---------------*/
.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 160px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: $page-accent-col; /* Colour */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 70px;
  color: $light-tan;
}

.sidenav a.season {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: $link-col;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a.season:hover {
  color: $light-tan;
}

.sidenav a.ep {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 12px;
  color: $link-col;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a.ep:hover {
  color: $light-tan;
}

/* Style page content */
.main {
  margin-left: 160px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}

.main a {
  color: $link-col;
}

.main a:hover {
  color: $light-tan;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a.season {font-size: 18px;}
  .sidenav a.ep {font-size: 10px}
}


/*-------------*-----------------------
 |    Links    |
 *-------------*/

.link-color {
  color: $link-col;
}

.link-color:hover {
  color: $link-col;
  text-decoration: underline;
}


/*-------------*-----------------------
 |    Image    |
 *-------------*/

img.medium {
  max-width:25%;
  max-height:25%;
}

img.small {
  max-width:5%;
  max-height:5%;
}


/*------------*------------------------
 |    Body    |
 *------------*/

body {
  background-color: $page-back-col;
  color: $light-tan;
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
 // text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}


/*------------------*------------------
 |    Typography    |
 *------------------*/

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.8em;
  letter-spacing: -1px;
  margin-left: 30px;
  margain-right: 30px;
  margin-bottom: 30px;
  text-align: left;
  font-weight: normal;
  //color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
  //color: #646451
}


/*--------------*----------------------
 |    Header    |
 *--------------*/

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: $page-back-col;
 // text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: $light-tan;
  text-decoration: none;
}


/*--------------*----------------------
 |    Footer    |
 *--------------*/

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $page-accent-col;
}

footer a {
  color: $light-tan;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}


/*-------------*-----------------------
 |    Debug    |
 *-------------*/

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}


/*------------*------------------------
 |    Form    |
 *------------*/

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}
