<footer class="footer">
  <nav>
    <%= link_to image_tag("xwp-sword.png", alt: "Xena's Sword", class: "sm-med")%>
    <ul>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>
